# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

# Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

# Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!

# Step 0: Business Question

 For this project, you will be acting as a consultant for a fictional real-estate investment firm. The firm has asked you what seems like a simple question:

    What are the top 5 best zip codes for us to invest in?

This may seem like a simple question at first glance, but there's more than a little ambiguity here that you'll have to think through in order to provide a solid recommendation. Should your recommendation be focused on profit margins only? What about risk? What sort of time horizon are you predicting against? Your recommendation will need to detail your rationale and answer any sort of lingering questions like these in order to demonstrate how you define "best".

# Step 1: Load the Data/Filtering for Chosen Zipcodes

import libraries

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px

initial print

In [3]:
df = pd.read_csv("zillow_data.csv")
df.head(10)
#df.info()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
5,91733,77084,Houston,TX,Houston,Harris,6,95000.0,95200.0,95400.0,...,157900,158700,160200,161900,162800,162800,162800,162900,163500,164300
6,61807,10467,New York,NY,New York,Bronx,7,152900.0,152700.0,152600.0,...,394400,400000,407300,411600,413200,414300,413900,411400,413200,417900
7,84640,60640,Chicago,IL,Chicago,Cook,8,216500.0,216700.0,216900.0,...,798000,787100,776100,774900,777900,777900,778500,780500,782800,782800
8,91940,77449,Katy,TX,Houston,Harris,9,95400.0,95600.0,95800.0,...,166800,167400,168400,169600,170900,172300,173300,174200,175400,176200
9,97564,94109,San Francisco,CA,San Francisco,San Francisco,10,766000.0,771100.0,776500.0,...,3767700,3763900,3775000,3799700,3793900,3778700,3770800,3763100,3779800,3813500

separate chicago zips

In [4]:
df = df.loc[df['Metro'] == 'Chicago']
df.head(10)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 325 entries, 0 to 14604
Columns: 272 entries, RegionID to 2018-04
dtypes: float64(219), int64(49), object(4)
memory usage: 693.2+ KB

hand-entered zips for city proper

In [5]:
city_zips = [60626, 60645, 60646, 60631, 60660, 
             60659, 60640, 60625, 60630, 60656, 
             60634, 60641, 60618, 60613, 60657, 
             60707, 60639, 60647, 60614, 60666, 
             60611, 60610, 60622, 60651, 60644, 
             60624, 60612, 60607, 60661, 60606, 
             60601, 60603, 60604, 60654, 60616, 
             60608, 60623, 60632, 60609, 60653, 
             60615, 60638, 60636, 60637, 60629, 
             60652, 60620, 60619, 60643, 60655, 
             60628, 60827, 60649, 60617, 60633, 
             60619, 60621, 60661]

print(len(city_zips))
print(len(set(city_zips)))
city_zips = list(set(city_zips))

58
56

# Step 2: Data Preprocessing

adjusted get_datetimes function

In [6]:
def get_datetimes(df):
    return pd.to_datetime(df.columns.values[7:], format='%Y-%m')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14723 entries, 0 to 14722
Columns: 272 entries, RegionID to 2018-04
dtypes: float64(219), int64(49), object(4)
memory usage: 30.6+ MB

# Step 3: EDA and Visualization

In [27]:
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 22}

plt.rc('font', **font)

# NOTE: if you visualizations are too cluttered to read, try calling 'plt.gcf().autofmt_xdate()'!

In [6]:
df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
7,84640,60640,Chicago,IL,Chicago,Cook,8,216500.0,216700.0,216900.0,...,798000,787100,776100,774900,777900,777900,778500,780500,782800,782800
16,84646,60647,Chicago,IL,Chicago,Cook,17,122700.0,122800.0,122800.0,...,459600,461400,464300,466500,467900,470600,474500,475100,472600,470200
19,84620,60618,Chicago,IL,Chicago,Cook,20,142600.0,143100.0,143400.0,...,462700,461200,459900,459200,458700,457900,457400,459000,462500,464300

In [12]:
info_cols = list(df.columns[1:7])
info_cols

for col in info_cols:
    print(col)
    print(df[col].describe())

RegionName
count      325.000000
mean     58851.895385
std       4110.512992
min      46303.000000
25%      60070.000000
50%      60194.000000
75%      60513.000000
max      60805.000000
Name: RegionName, dtype: float64
City
count         325
unique        242
top       Chicago
freq           41
Name: City, dtype: object
State
count     325
unique      3
top        IL
freq      285
Name: State, dtype: object
Metro
count         325
unique          1
top       Chicago
freq          325
Name: Metro, dtype: object
CountyName
count      325
unique      13
top       Cook
freq       140
Name: CountyName, dtype: object
SizeRank
count      325.000000
mean      5457.323077
std       3804.744361
min          1.000000
25%       2289.000000
50%       4985.000000
75%       7968.000000
max      14605.000000
Name: SizeRank, dtype: float64

In [19]:
city_df = df.loc[df['City'] == 'Chicago']
city_df.info()
for col in info_cols:
    print(col)
    print(city_df[col].describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 0 to 7863
Columns: 272 entries, RegionID to 2018-04
dtypes: float64(219), int64(49), object(4)
memory usage: 87.4+ KB
RegionName
count       41.000000
mean     60633.097561
std         16.887577
min      60605.000000
25%      60618.000000
50%      60633.000000
75%      60647.000000
max      60660.000000
Name: RegionName, dtype: float64
City
count          41
unique          1
top       Chicago
freq           41
Name: City, dtype: object
State
count     41
unique     1
top       IL
freq      41
Name: State, dtype: object
Metro
count          41
unique          1
top       Chicago
freq           41
Name: Metro, dtype: object
CountyName
count       41
unique       1
top       Cook
freq        41
Name: CountyName, dtype: object
SizeRank
count      41.000000
mean     1266.536585
std      1660.637153
min         1.000000
25%       106.000000
50%       498.000000
75%      1991.000000
max      7864.000000
Name: SizeRank, dtype: float64

# Step 4: Reshape from Wide to Long Format

fixed melt function

In [28]:
def melt_data(df):
    melted = pd.melt(df, 
                     id_vars=['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'], 
                     var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted

check

In [30]:
melted = melt_data(small_df)
melted.head(50)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,time,value
0,84654,60657,Chicago,IL,Chicago,Cook,1,1996-04-01,334200.0
1,84616,60614,Chicago,IL,Chicago,Cook,4,1996-04-01,498100.0
2,84640,60640,Chicago,IL,Chicago,Cook,8,1996-04-01,216500.0
3,84646,60647,Chicago,IL,Chicago,Cook,17,1996-04-01,122700.0
4,84620,60618,Chicago,IL,Chicago,Cook,20,1996-04-01,142600.0
5,84615,60613,Chicago,IL,Chicago,Cook,41,1996-04-01,297900.0
6,84630,60629,Chicago,IL,Chicago,Cook,49,1996-04-01,93400.0
7,84627,60625,Chicago,IL,Chicago,Cook,51,1996-04-01,148900.0
8,84621,60619,Chicago,IL,Chicago,Cook,75,1996-04-01,76400.0
9,84612,60610,Chicago,IL,Chicago,Cook,80,1996-04-01,435200.0
11,84622,60620,Chicago,IL,Chicago,Cook,151,1996-04-01,71900.0
12,84635,60634,Chicago,IL,Chicago,Cook,158,1996-04-01,146800.0
13,84285,60016,Des Plaines,IL,Chicago,Cook,169,1996-04-01,169300.0
14,78085,46307,Crown Point,IN,Chicago,Lake,170,1996-04-01,153000.0
15,84628,60626,Chicago,IL,Chicago,Cook,216,1996-04-01,150900.0
16,84647,60649,Chicago,IL,Chicago,Cook,232,1996-04-01,77400.0
17,84618,60616,Chicago,IL,Chicago,Cook,285,1996-04-01,160600.0
18,84624,60622,Chicago,IL,Chicago,Cook,319,1996-04-01,217000.0
19,84617,60615,Chicago,IL,Chicago,Cook,325,1996-04-01,195300.0
20,84641,60641,Chicago,IL,Chicago,Cook,333,1996-04-01,135700.0
21,84504,60453,Oak Lawn,IL,Chicago,Cook,341,1996-04-01,147500.0
22,84656,60660,Chicago,IL,Chicago,Cook,348,1996-04-01,166000.0
23,84317,60056,Mount Prospect,IL,Chicago,Cook,369,1996-04-01,192700.0
24,84340,60085,Waukegan,IL,Chicago,Lake,384,1996-04-01,96100.0
25,84399,60148,Lombard,IL,Chicago,Du Page,458,1996-04-01,148900.0
26,84610,60608,Chicago,IL,Chicago,Cook,498,1996-04-01,89800.0
27,84273,60004,Arlington Heights,IL,Chicago,Cook,555,1996-04-01,220100.0
28,84460,60402,Berwyn,IL,Chicago,Cook,626,1996-04-01,126800.0
29,84638,60638,Chicago,IL,Chicago,Cook,639,1996-04-01,127400.0
30,84639,60639,Chicago,IL,Chicago,Cook,659,1996-04-01,111200.0
31,84329,60073,Round Lake Beach,IL,Chicago,Lake,726,1996-04-01,125200.0
32,84631,60630,Chicago,IL,Chicago,Cook,740,1996-04-01,150600.0
33,84642,60643,Chicago,IL,Chicago,Cook,793,1996-04-01,86400.0
34,84466,60411,Chicago Heights,IL,Chicago,Cook,883,1996-04-01,81900.0
35,84693,60804,Cicero,IL,Chicago,Cook,949,1996-04-01,96500.0
36,84486,60435,Joliet,IL,Chicago,Will,1006,1996-04-01,95800.0
37,84633,60632,Chicago,IL,Chicago,Cook,1013,1996-04-01,99600.0
38,84542,60506,Aurora,IL,Chicago,Kane,1090,1996-04-01,112700.0
39,84368,60115,Dekalb,IL,Chicago,DeKalb,1120,1996-04-01,131800.0
40,84283,60014,Crystal Lake,IL,Chicago,McHenry,1153,1996-04-01,156300.0
41,84444,60201,Evanston,IL,Chicago,Cook,1162,1996-04-01,282700.0
42,84378,60126,Elmhurst,IL,Chicago,Du Page,1193,1996-04-01,188700.0
43,84491,60440,Bolingbrook,IL,Chicago,Will,1206,1996-04-01,118700.0
44,84344,60089,Buffalo Grove,IL,Chicago,Lake,1299,1996-04-01,207100.0
45,84279,60010,Barrington,IL,Chicago,Cook,1333,1996-04-01,346800.0
46,84376,60123,Elgin,IL,Chicago,Kane,1335,1996-04-01,131800.0
47,84607,60605,Chicago,IL,Chicago,Cook,1361,1996-04-01,293500.0
48,84541,60505,Aurora,IL,Chicago,Kane,1393,1996-04-01,79300.0
49,84513,60462,Orland Park,IL,Chicago,Cook,1410,1996-04-01,193500.0
50,84320,60062,Northbrook,IL,Chicago,Cook,1415,1996-04-01,352200.0

# Step 5: ARIMA Modeling

# Step 6: Interpreting Results