# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

# Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

# Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!

# Step 0: Business Question

 For this project, you will be acting as a consultant for a fictional real-estate investment firm. The firm has asked you what seems like a simple question:

    What are the top 5 best zip codes for us to invest in?

This may seem like a simple question at first glance, but there's more than a little ambiguity here that you'll have to think through in order to provide a solid recommendation. Should your recommendation be focused on profit margins only? What about risk? What sort of time horizon are you predicting against? Your recommendation will need to detail your rationale and answer any sort of lingering questions like these in order to demonstrate how you define "best".

# Step 1: Load the Data/Filtering for Chosen Zipcodes

import libraries

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import plotly.express as px

initial print

In [2]:
df = pd.read_csv("data/zillow_data.csv")
nh_df = pd.read_csv("data/neighborhood_data.csv")
nh_df.head(10)
#df.info()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1996-01-31,...,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31
0,274772,0,Northeast Dallas,Neighborhood,TX,TX,Dallas,Dallas-Fort Worth-Arlington,Dallas County,135822.0,...,340469.0,342908.0,344906.0,347240.0,351339.0,355704.0,360122.0,361710.0,363919.0,365908.0
1,112345,1,Maryvale,Neighborhood,AZ,AZ,Phoenix,Phoenix-Mesa-Scottsdale,Maricopa County,NaN,...,217419.0,220343.0,223627.0,227398.0,230851.0,234753.0,238070.0,241632.0,244012.0,245332.0
2,192689,2,Paradise,Neighborhood,NV,NV,Las Vegas,Las Vegas-Henderson-Paradise,Clark County,141784.0,...,279695.0,280955.0,283492.0,286903.0,289515.0,291818.0,293802.0,296043.0,298533.0,301325.0
3,270958,3,Upper West Side,Neighborhood,NY,NY,New York,New York-Newark-Jersey City,New York County,236241.0,...,1150808.0,1155906.0,1161040.0,1166959.0,1162385.0,1157878.0,1155829.0,1150443.0,1155436.0,1157749.0
4,118208,4,South Los Angeles,Neighborhood,CA,CA,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,136341.0,...,554377.0,559670.0,567182.0,574883.0,581415.0,586627.0,590405.0,594516.0,599448.0,605661.0
5,270957,5,Upper East Side,Neighborhood,NY,NY,New York,New York-Newark-Jersey City,New York County,NaN,...,1077704.0,1082774.0,1088528.0,1089680.0,1096836.0,1096908.0,1098618.0,1089350.0,1086647.0,1087600.0
6,192820,6,Sunrise Manor,Neighborhood,NV,NV,Las Vegas,Las Vegas-Henderson-Paradise,Clark County,NaN,...,241220.0,242364.0,244566.0,247673.0,250067.0,252235.0,254057.0,256122.0,258354.0,260858.0
7,192796,7,Spring Valley,Neighborhood,NV,NV,Las Vegas,Las Vegas-Henderson-Paradise,Clark County,151473.0,...,300381.0,301544.0,304112.0,307643.0,310236.0,312423.0,314256.0,316421.0,318903.0,321736.0
8,268496,8,Southeast Los Angeles,Neighborhood,CA,CA,Los Angeles,Los Angeles-Long Beach-Anaheim,Los Angeles County,NaN,...,450242.0,453694.0,458551.0,463980.0,467922.0,472629.0,477045.0,481464.0,485057.0,488179.0
9,194430,9,East New York,Neighborhood,NY,NY,New York,New York-Newark-Jersey City,Kings County,155510.0,...,523580.0,526890.0,530698.0,533772.0,537217.0,540039.0,541997.0,543028.0,544048.0,543124.0

separate chicago zips

In [3]:
df = df.loc[df['Metro'] == 'Chicago']
nh_df = nh_df.loc[nh_df['City'] == 'Chicago']
nh_df.head(10)
#nh_df.info()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1996-01-31,...,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31
52,269592,53,Logan Square,Neighborhood,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,153252.0,...,447271.0,450368.0,453928.0,458104.0,462215.0,465269.0,468493.0,471165.0,474865.0,477745.0
87,403117,88,Little Village,Neighborhood,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,NaN,...,177273.0,179695.0,179917.0,179802.0,179935.0,179985.0,180271.0,180635.0,182971.0,183939.0
104,403169,106,West Rogers Park,Neighborhood,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,135374.0,...,310971.0,313105.0,315046.0,317957.0,320474.0,322858.0,324789.0,326025.0,327693.0,329638.0
141,403120,144,South Austin,Neighborhood,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,NaN,...,192147.0,195018.0,198106.0,201893.0,206552.0,211075.0,215168.0,218518.0,223578.0,228216.0
151,269566,154,Albany Park,Neighborhood,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,134894.0,...,345340.0,346957.0,349330.0,353102.0,355953.0,357524.0,357603.0,358035.0,361003.0,364556.0
156,269609,159,Uptown,Neighborhood,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,118402.0,...,304312.0,305517.0,307116.0,309456.0,311661.0,313599.0,315295.0,317073.0,319192.0,320845.0
160,269589,163,Lake View,Neighborhood,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,219907.0,...,539705.0,541323.0,543719.0,547161.0,550532.0,553354.0,556021.0,558278.0,561010.0,562892.0
168,269605,171,Rogers Park,Neighborhood,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,104550.0,...,220928.0,222099.0,223516.0,225480.0,227250.0,228823.0,230244.0,231633.0,233280.0,234766.0
202,269571,206,Gresham,Neighborhood,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,99648.0,...,153501.0,155769.0,158455.0,161330.0,164813.0,168101.0,171204.0,173176.0,177119.0,181122.0
203,273040,207,Brighton Park,Neighborhood,IL,IL,Chicago,Chicago-Naperville-Elgin,Cook County,101526.0,...,212135.0,214417.0,216677.0,219210.0,221223.0,223545.0,225501.0,227418.0,229710.0,231905.0

hand-entered zips for city proper

In [4]:
city_zips = [60626, 60645, 60646, 60631, 60660, 
             60659, 60640, 60625, 60630, 60656, 
             60634, 60641, 60618, 60613, 60657, 
             60707, 60639, 60647, 60614, 60666, 
             60611, 60610, 60622, 60651, 60644, 
             60624, 60612, 60607, 60661, 60606, 
             60601, 60603, 60604, 60654, 60616, 
             60608, 60623, 60632, 60609, 60653, 
             60615, 60638, 60636, 60637, 60629, 
             60652, 60620, 60619, 60643, 60655, 
             60628, 60827, 60649, 60617, 60633, 
             60619, 60621, 60661]

print(len(city_zips))
print(len(set(city_zips)))
city_zips = list(set(city_zips))

58
56

# Step 2: Data Preprocessing

adjusted get_datetimes function to work on different types of dataframes

In [5]:
def get_datetimes(df, startcol):
    return pd.to_datetime(df.columns.values[startcol:], format='%Y-%m')

get_datetimes(df, 7)
get_datetimes(nh_df, 9)

DatetimeIndex(['1996-01-31', '1996-02-29', '1996-03-31', '1996-04-30',
               '1996-05-31', '1996-06-30', '1996-07-31', '1996-08-31',
               '1996-09-30', '1996-10-31',
               ...
               '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30',
               '2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31',
               '2021-02-28', '2021-03-31'],
              dtype='datetime64[ns]', length=303, freq=None)

dealing with null values

In [6]:
pd.set_option('display.max_rows', None)
nh_df.isna().any()

RegionID      False
SizeRank      False
RegionName    False
RegionType    False
StateName     False
State         False
City          False
Metro         False
CountyName    False
1996-01-31     True
1996-02-29     True
1996-03-31     True
1996-04-30     True
1996-05-31     True
1996-06-30     True
1996-07-31     True
1996-08-31     True
1996-09-30     True
1996-10-31     True
1996-11-30     True
1996-12-31     True
1997-01-31     True
1997-02-28     True
1997-03-31     True
1997-04-30     True
1997-05-31     True
1997-06-30     True
1997-07-31     True
1997-08-31     True
1997-09-30     True
1997-10-31     True
1997-11-30     True
1997-12-31     True
1998-01-31     True
1998-02-28     True
1998-03-31     True
1998-04-30     True
1998-05-31     True
1998-06-30     True
1998-07-31     True
1998-08-31     True
1998-09-30     True
1998-10-31     True
1998-11-30     True
1998-12-31     True
1999-01-31     True
1999-02-28     True
1999-03-31     True
1999-04-30     True
1999-05-31     True
1999-06-30     True
1999-07-31     True
1999-08-31     True
1999-09-30     True
1999-10-31     True
1999-11-30     True
1999-12-31     True
2000-01-31     True
2000-02-29     True
2000-03-31     True
2000-04-30     True
2000-05-31     True
2000-06-30     True
2000-07-31     True
2000-08-31     True
2000-09-30     True
2000-10-31     True
2000-11-30     True
2000-12-31     True
2001-01-31     True
2001-02-28     True
2001-03-31     True
2001-04-30     True
2001-05-31     True
2001-06-30     True
2001-07-31     True
2001-08-31     True
2001-09-30     True
2001-10-31     True
2001-11-30     True
2001-12-31     True
2002-01-31     True
2002-02-28     True
2002-03-31     True
2002-04-30     True
2002-05-31     True
2002-06-30     True
2002-07-31     True
2002-08-31     True
2002-09-30     True
2002-10-31     True
2002-11-30     True
2002-12-31     True
2003-01-31     True
2003-02-28     True
2003-03-31     True
2003-04-30     True
2003-05-31     True
2003-06-30     True
2003-07-31     True
2003-08-31     True
2003-09-30     True
2003-10-31     True
2003-11-30     True
2003-12-31     True
2004-01-31     True
2004-02-29     True
2004-03-31     True
2004-04-30     True
2004-05-31     True
2004-06-30     True
2004-07-31     True
2004-08-31     True
2004-09-30     True
2004-10-31     True
2004-11-30     True
2004-12-31     True
2005-01-31     True
2005-02-28     True
2005-03-31     True
2005-04-30     True
2005-05-31     True
2005-06-30     True
2005-07-31     True
2005-08-31     True
2005-09-30     True
2005-10-31     True
2005-11-30     True
2005-12-31     True
2006-01-31     True
2006-02-28     True
2006-03-31     True
2006-04-30     True
2006-05-31     True
2006-06-30     True
2006-07-31     True
2006-08-31     True
2006-09-30     True
2006-10-31     True
2006-11-30     True
2006-12-31     True
2007-01-31     True
2007-02-28     True
2007-03-31     True
2007-04-30     True
2007-05-31     True
2007-06-30     True
2007-07-31     True
2007-08-31     True
2007-09-30     True
2007-10-31     True
2007-11-30     True
2007-12-31     True
2008-01-31     True
2008-02-29     True
2008-03-31     True
2008-04-30     True
2008-05-31     True
2008-06-30     True
2008-07-31     True
2008-08-31     True
2008-09-30     True
2008-10-31     True
2008-11-30     True
2008-12-31     True
2009-01-31     True
2009-02-28     True
2009-03-31     True
2009-04-30     True
2009-05-31     True
2009-06-30     True
2009-07-31     True
2009-08-31     True
2009-09-30     True
2009-10-31     True
2009-11-30     True
2009-12-31     True
2010-01-31     True
2010-02-28     True
2010-03-31     True
2010-04-30     True
2010-05-31     True
2010-06-30     True
2010-07-31     True
2010-08-31     True
2010-09-30     True
2010-10-31     True
2010-11-30     True
2010-12-31     True
2011-01-31     True
2011-02-28     True
2011-03-31     True
2011-04-30     True
2011-05-31     True
2011-06-30     True
2011-07-31     True
2011-08-31     True
2011-09-30     True
2011-10-31     True
2011-11-30     True
2011-12-31     True
2012-01-31     True
2012-02-29     True
2012-03-31     True
2012-04-30     True
2012-05-31     True
2012-06-30     True
2012-07-31     True
2012-08-31     True
2012-09-30     True
2012-10-31     True
2012-11-30     True
2012-12-31     True
2013-01-31     True
2013-02-28     True
2013-03-31     True
2013-04-30     True
2013-05-31     True
2013-06-30     True
2013-07-31     True
2013-08-31     True
2013-09-30     True
2013-10-31     True
2013-11-30     True
2013-12-31     True
2014-01-31     True
2014-02-28     True
2014-03-31     True
2014-04-30     True
2014-05-31     True
2014-06-30     True
2014-07-31     True
2014-08-31     True
2014-09-30     True
2014-10-31     True
2014-11-30     True
2014-12-31     True
2015-01-31     True
2015-02-28     True
2015-03-31     True
2015-04-30     True
2015-05-31     True
2015-06-30     True
2015-07-31     True
2015-08-31     True
2015-09-30     True
2015-10-31     True
2015-11-30     True
2015-12-31     True
2016-01-31     True
2016-02-29     True
2016-03-31     True
2016-04-30     True
2016-05-31     True
2016-06-30     True
2016-07-31     True
2016-08-31     True
2016-09-30     True
2016-10-31     True
2016-11-30     True
2016-12-31     True
2017-01-31     True
2017-02-28     True
2017-03-31     True
2017-04-30    False
2017-05-31    False
2017-06-30    False
2017-07-31    False
2017-08-31    False
2017-09-30    False
2017-10-31    False
2017-11-30    False
2017-12-31    False
2018-01-31    False
2018-02-28    False
2018-03-31    False
2018-04-30    False
2018-05-31    False
2018-06-30    False
2018-07-31    False
2018-08-31    False
2018-09-30    False
2018-10-31    False
2018-11-30    False
2018-12-31    False
2019-01-31    False
2019-02-28    False
2019-03-31    False
2019-04-30    False
2019-05-31    False
2019-06-30    False
2019-07-31    False
2019-08-31    False
2019-09-30    False
2019-10-31    False
2019-11-30    False
2019-12-31    False
2020-01-31    False
2020-02-29    False
2020-03-31    False
2020-04-30    False
2020-05-31    False
2020-06-30    False
2020-07-31    False
2020-08-31    False
2020-09-30    False
2020-10-31    False
2020-11-30    False
2020-12-31    False
2021-01-31    False
2021-02-28    False
2021-03-31    False
dtype: bool

In [7]:
df.shape[1] - df.count(axis=1)

0          0
3          0
7          0
16         0
19         0
40         0
48         0
50         0
74         0
79         0
105      207
150        0
157        0
168        0
169        0
215        0
231        0
284        0
318        0
324        0
332        0
340        0
347        0
368        0
383        0
457        0
497        0
554        0
625        0
638        0
658        0
725        0
739        0
792        0
882        0
948        0
1005       0
1012       0
1089       0
1119       0
1152       0
1161       0
1192       0
1205       0
1298       0
1332       0
1334       0
1360       0
1392       0
1409       0
1414       0
1433       0
1454       0
1457       0
1487       0
1491       0
1496       0
1527       0
1562       0
1570       0
1594       0
1623       0
1641       0
1667       0
1686       0
1705       0
1721       0
1727       0
1864       0
1870       0
1883       0
1943       0
1950       0
1990       0
2048       0
2052       0
2114       0
2119       0
2125       0
2164       0
2246       0
2288       0
2360       0
2403       0
2420       0
2436       0
2454       0
2584       0
2585       0
2594       0
2613       0
2617       0
2639       0
2680       0
2759       0
2784       0
2795       0
2830       0
2873       0
2902       0
2924       0
2935       0
2943       0
2981       0
3107       0
3141       0
3142       0
3145       0
3149       0
3152       0
3156       0
3162       0
3180       0
3181       0
3232       0
3245       0
3281       0
3337       0
3403       0
3480       0
3510       0
3525       0
3654       0
3657       0
3703       0
3733       0
3809       0
3827       0
3886       0
3900       0
3960       0
3962       0
3989       0
4005       0
4033       0
4040       0
4066       0
4100       0
4114       0
4180       0
4191       0
4241       0
4257       0
4263       0
4336       0
4362       0
4392       0
4473       0
4558       0
4587       0
4689       0
4732       0
4744       0
4759       0
4797       0
4811       0
4825       0
4905       0
4924       0
4935       0
4972       0
4975       0
4984       0
5049       0
5057       0
5157       0
5183       0
5224       0
5234       0
5249       0
5276       0
5312       0
5391       0
5396       0
5445       0
5486       0
5560       0
5566       0
5590       0
5592       0
5665       0
5675       0
5711       0
5744       0
5896       0
5909       0
5948       0
5955       0
5962       0
5964       0
6008       0
6011       0
6091       0
6100       0
6124       0
6195       0
6231       0
6249       0
6282       0
6298       0
6398       0
6426       0
6486       0
6496       0
6543       0
6596       0
6631       0
6715       0
6727       0
6751       0
6755       0
6766       0
6795       0
6822       0
6834       0
6865       0
6962       0
6988       0
7013       0
7103       0
7203       0
7218       0
7245       0
7284       0
7285       0
7336       0
7379       0
7394       0
7450       0
7466       0
7547       0
7558       0
7587     219
7628       0
7629       0
7692       0
7747       0
7777       0
7811       0
7853       0
7863       0
7933       0
7954       0
7967       0
7974       0
8021       0
8049       0
8062       0
8171       0
8231       0
8240       0
8242       0
8249       0
8277       0
8325       0
8339       0
8406       0
8480       0
8529       0
8584       0
8590       0
8635       0
8650       0
8701       0
8726       0
8729       0
8780     219
8826       0
8924       0
8952       0
9023       0
9082       0
9094       0
9120       0
9132       0
9153       0
9316       0
9411       0
9503       0
9556       0
9765       0
9859       0
9912       0
9935       0
10187      0
10212      0
10275      0
10401      0
10522      0
10723      0
10899      0
11212      0
11217      0
11232      0
11235      0
11381      0
11438      0
11588      0
11596      0
11867      0
11897      0
12345      0
12716      0
12806      0
12869    207
13137      0
13159      0
13225      0
13332      0
13345      0
13405      0
13410    189
13413    177
13431      0
13647      0
13652      0
13684    177
13963      0
14200      0
14235      0
14257      0
14275      0
14316      0
14499    189
14604      0
dtype: int64

strategy: melt here and then have option to use for visualizations

In [18]:
def melt_data(df):
    melted = pd.melt(df, 
                     id_vars=['RegionID', 'RegionName', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'], 
                     var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted
melted = melt_data(df)
melted.head(50)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,time,value
0,84654,60657,Chicago,IL,Chicago,Cook,1,1996-04-01,334200.0
1,84616,60614,Chicago,IL,Chicago,Cook,4,1996-04-01,498100.0
2,84640,60640,Chicago,IL,Chicago,Cook,8,1996-04-01,216500.0
3,84646,60647,Chicago,IL,Chicago,Cook,17,1996-04-01,122700.0
4,84620,60618,Chicago,IL,Chicago,Cook,20,1996-04-01,142600.0
5,84615,60613,Chicago,IL,Chicago,Cook,41,1996-04-01,297900.0
6,84630,60629,Chicago,IL,Chicago,Cook,49,1996-04-01,93400.0
7,84627,60625,Chicago,IL,Chicago,Cook,51,1996-04-01,148900.0
8,84621,60619,Chicago,IL,Chicago,Cook,75,1996-04-01,76400.0
9,84612,60610,Chicago,IL,Chicago,Cook,80,1996-04-01,435200.0
11,84622,60620,Chicago,IL,Chicago,Cook,151,1996-04-01,71900.0
12,84635,60634,Chicago,IL,Chicago,Cook,158,1996-04-01,146800.0
13,84285,60016,Des Plaines,IL,Chicago,Cook,169,1996-04-01,169300.0
14,78085,46307,Crown Point,IN,Chicago,Lake,170,1996-04-01,153000.0
15,84628,60626,Chicago,IL,Chicago,Cook,216,1996-04-01,150900.0
16,84647,60649,Chicago,IL,Chicago,Cook,232,1996-04-01,77400.0
17,84618,60616,Chicago,IL,Chicago,Cook,285,1996-04-01,160600.0
18,84624,60622,Chicago,IL,Chicago,Cook,319,1996-04-01,217000.0
19,84617,60615,Chicago,IL,Chicago,Cook,325,1996-04-01,195300.0
20,84641,60641,Chicago,IL,Chicago,Cook,333,1996-04-01,135700.0
21,84504,60453,Oak Lawn,IL,Chicago,Cook,341,1996-04-01,147500.0
22,84656,60660,Chicago,IL,Chicago,Cook,348,1996-04-01,166000.0
23,84317,60056,Mount Prospect,IL,Chicago,Cook,369,1996-04-01,192700.0
24,84340,60085,Waukegan,IL,Chicago,Lake,384,1996-04-01,96100.0
25,84399,60148,Lombard,IL,Chicago,Du Page,458,1996-04-01,148900.0
26,84610,60608,Chicago,IL,Chicago,Cook,498,1996-04-01,89800.0
27,84273,60004,Arlington Heights,IL,Chicago,Cook,555,1996-04-01,220100.0
28,84460,60402,Berwyn,IL,Chicago,Cook,626,1996-04-01,126800.0
29,84638,60638,Chicago,IL,Chicago,Cook,639,1996-04-01,127400.0
30,84639,60639,Chicago,IL,Chicago,Cook,659,1996-04-01,111200.0
31,84329,60073,Round Lake Beach,IL,Chicago,Lake,726,1996-04-01,125200.0
32,84631,60630,Chicago,IL,Chicago,Cook,740,1996-04-01,150600.0
33,84642,60643,Chicago,IL,Chicago,Cook,793,1996-04-01,86400.0
34,84466,60411,Chicago Heights,IL,Chicago,Cook,883,1996-04-01,81900.0
35,84693,60804,Cicero,IL,Chicago,Cook,949,1996-04-01,96500.0
36,84486,60435,Joliet,IL,Chicago,Will,1006,1996-04-01,95800.0
37,84633,60632,Chicago,IL,Chicago,Cook,1013,1996-04-01,99600.0
38,84542,60506,Aurora,IL,Chicago,Kane,1090,1996-04-01,112700.0
39,84368,60115,Dekalb,IL,Chicago,DeKalb,1120,1996-04-01,131800.0
40,84283,60014,Crystal Lake,IL,Chicago,McHenry,1153,1996-04-01,156300.0
41,84444,60201,Evanston,IL,Chicago,Cook,1162,1996-04-01,282700.0
42,84378,60126,Elmhurst,IL,Chicago,Du Page,1193,1996-04-01,188700.0
43,84491,60440,Bolingbrook,IL,Chicago,Will,1206,1996-04-01,118700.0
44,84344,60089,Buffalo Grove,IL,Chicago,Lake,1299,1996-04-01,207100.0
45,84279,60010,Barrington,IL,Chicago,Cook,1333,1996-04-01,346800.0
46,84376,60123,Elgin,IL,Chicago,Kane,1335,1996-04-01,131800.0
47,84607,60605,Chicago,IL,Chicago,Cook,1361,1996-04-01,293500.0
48,84541,60505,Aurora,IL,Chicago,Kane,1393,1996-04-01,79300.0
49,84513,60462,Orland Park,IL,Chicago,Cook,1410,1996-04-01,193500.0
50,84320,60062,Northbrook,IL,Chicago,Cook,1415,1996-04-01,352200.0

# Step 3: EDA and Visualization

In [8]:
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 22}

plt.rc('font', **font)

# NOTE: if you visualizations are too cluttered to read, try calling 'plt.gcf().autofmt_xdate()'!

In [9]:
df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
7,84640,60640,Chicago,IL,Chicago,Cook,8,216500.0,216700.0,216900.0,...,798000,787100,776100,774900,777900,777900,778500,780500,782800,782800
16,84646,60647,Chicago,IL,Chicago,Cook,17,122700.0,122800.0,122800.0,...,459600,461400,464300,466500,467900,470600,474500,475100,472600,470200
19,84620,60618,Chicago,IL,Chicago,Cook,20,142600.0,143100.0,143400.0,...,462700,461200,459900,459200,458700,457900,457400,459000,462500,464300

In [10]:
info_cols = list(df.columns[1:7])
info_cols

for col in info_cols:
    print(col)
    print(df[col].describe())

RegionName
count      325.000000
mean     58851.895385
std       4110.512992
min      46303.000000
25%      60070.000000
50%      60194.000000
75%      60513.000000
max      60805.000000
Name: RegionName, dtype: float64
City
count         325
unique        242
top       Chicago
freq           41
Name: City, dtype: object
State
count     325
unique      3
top        IL
freq      285
Name: State, dtype: object
Metro
count         325
unique          1
top       Chicago
freq          325
Name: Metro, dtype: object
CountyName
count      325
unique      13
top       Cook
freq       140
Name: CountyName, dtype: object
SizeRank
count      325.000000
mean      5457.323077
std       3804.744361
min          1.000000
25%       2289.000000
50%       4985.000000
75%       7968.000000
max      14605.000000
Name: SizeRank, dtype: float64

In [11]:
city_df = df.loc[df['City'] == 'Chicago']
city_df.info()
for col in info_cols:
    print(col)
    print(city_df[col].describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 0 to 7863
Columns: 272 entries, RegionID to 2018-04
dtypes: float64(219), int64(49), object(4)
memory usage: 87.4+ KB
RegionName
count       41.000000
mean     60633.097561
std         16.887577
min      60605.000000
25%      60618.000000
50%      60633.000000
75%      60647.000000
max      60660.000000
Name: RegionName, dtype: float64
City
count          41
unique          1
top       Chicago
freq           41
Name: City, dtype: object
State
count     41
unique     1
top       IL
freq      41
Name: State, dtype: object
Metro
count          41
unique          1
top       Chicago
freq           41
Name: Metro, dtype: object
CountyName
count       41
unique       1
top       Cook
freq        41
Name: CountyName, dtype: object
SizeRank
count      41.000000
mean     1266.536585
std      1660.637153
min         1.000000
25%       106.000000
50%       498.000000
75%      1991.000000
max      7864.000000
Name: SizeRank, dtype: float64

Time Series Aspects

In [12]:
#stationary

In [13]:
#seasonality

In [14]:
#autocorrelation

# Step 4: Reshape from Wide to Long Format

fixed melt function

check

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,time,value
0,84654,60657,Chicago,IL,Chicago,Cook,1,1996-04-01,334200.0
1,84616,60614,Chicago,IL,Chicago,Cook,4,1996-04-01,498100.0
2,84640,60640,Chicago,IL,Chicago,Cook,8,1996-04-01,216500.0
3,84646,60647,Chicago,IL,Chicago,Cook,17,1996-04-01,122700.0
4,84620,60618,Chicago,IL,Chicago,Cook,20,1996-04-01,142600.0
5,84615,60613,Chicago,IL,Chicago,Cook,41,1996-04-01,297900.0
6,84630,60629,Chicago,IL,Chicago,Cook,49,1996-04-01,93400.0
7,84627,60625,Chicago,IL,Chicago,Cook,51,1996-04-01,148900.0
8,84621,60619,Chicago,IL,Chicago,Cook,75,1996-04-01,76400.0
9,84612,60610,Chicago,IL,Chicago,Cook,80,1996-04-01,435200.0
11,84622,60620,Chicago,IL,Chicago,Cook,151,1996-04-01,71900.0
12,84635,60634,Chicago,IL,Chicago,Cook,158,1996-04-01,146800.0
13,84285,60016,Des Plaines,IL,Chicago,Cook,169,1996-04-01,169300.0
14,78085,46307,Crown Point,IN,Chicago,Lake,170,1996-04-01,153000.0
15,84628,60626,Chicago,IL,Chicago,Cook,216,1996-04-01,150900.0
16,84647,60649,Chicago,IL,Chicago,Cook,232,1996-04-01,77400.0
17,84618,60616,Chicago,IL,Chicago,Cook,285,1996-04-01,160600.0
18,84624,60622,Chicago,IL,Chicago,Cook,319,1996-04-01,217000.0
19,84617,60615,Chicago,IL,Chicago,Cook,325,1996-04-01,195300.0
20,84641,60641,Chicago,IL,Chicago,Cook,333,1996-04-01,135700.0
21,84504,60453,Oak Lawn,IL,Chicago,Cook,341,1996-04-01,147500.0
22,84656,60660,Chicago,IL,Chicago,Cook,348,1996-04-01,166000.0
23,84317,60056,Mount Prospect,IL,Chicago,Cook,369,1996-04-01,192700.0
24,84340,60085,Waukegan,IL,Chicago,Lake,384,1996-04-01,96100.0
25,84399,60148,Lombard,IL,Chicago,Du Page,458,1996-04-01,148900.0
26,84610,60608,Chicago,IL,Chicago,Cook,498,1996-04-01,89800.0
27,84273,60004,Arlington Heights,IL,Chicago,Cook,555,1996-04-01,220100.0
28,84460,60402,Berwyn,IL,Chicago,Cook,626,1996-04-01,126800.0
29,84638,60638,Chicago,IL,Chicago,Cook,639,1996-04-01,127400.0
30,84639,60639,Chicago,IL,Chicago,Cook,659,1996-04-01,111200.0
31,84329,60073,Round Lake Beach,IL,Chicago,Lake,726,1996-04-01,125200.0
32,84631,60630,Chicago,IL,Chicago,Cook,740,1996-04-01,150600.0
33,84642,60643,Chicago,IL,Chicago,Cook,793,1996-04-01,86400.0
34,84466,60411,Chicago Heights,IL,Chicago,Cook,883,1996-04-01,81900.0
35,84693,60804,Cicero,IL,Chicago,Cook,949,1996-04-01,96500.0
36,84486,60435,Joliet,IL,Chicago,Will,1006,1996-04-01,95800.0
37,84633,60632,Chicago,IL,Chicago,Cook,1013,1996-04-01,99600.0
38,84542,60506,Aurora,IL,Chicago,Kane,1090,1996-04-01,112700.0
39,84368,60115,Dekalb,IL,Chicago,DeKalb,1120,1996-04-01,131800.0
40,84283,60014,Crystal Lake,IL,Chicago,McHenry,1153,1996-04-01,156300.0
41,84444,60201,Evanston,IL,Chicago,Cook,1162,1996-04-01,282700.0
42,84378,60126,Elmhurst,IL,Chicago,Du Page,1193,1996-04-01,188700.0
43,84491,60440,Bolingbrook,IL,Chicago,Will,1206,1996-04-01,118700.0
44,84344,60089,Buffalo Grove,IL,Chicago,Lake,1299,1996-04-01,207100.0
45,84279,60010,Barrington,IL,Chicago,Cook,1333,1996-04-01,346800.0
46,84376,60123,Elgin,IL,Chicago,Kane,1335,1996-04-01,131800.0
47,84607,60605,Chicago,IL,Chicago,Cook,1361,1996-04-01,293500.0
48,84541,60505,Aurora,IL,Chicago,Kane,1393,1996-04-01,79300.0
49,84513,60462,Orland Park,IL,Chicago,Cook,1410,1996-04-01,193500.0
50,84320,60062,Northbrook,IL,Chicago,Cook,1415,1996-04-01,352200.0

# Step 5: ARIMA Modeling

# Step 6: Interpreting Results